<div ng-show="Persons.Results.length != 0">
	<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
		  	<tr>
		  		<th>Id</th>
		  		<th>First Name</th>
		  		<th>Surname</th>
		  		<th>Age</th>
		  		<th>Sex</th>
		  		<th>Is Active</th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="person in Persons.Results">
		  		<td>{{person.Id}}</td>
		  		<td>{{person.FirstName}}</td>
		  		<td>{{person.Surname}}</td>
		  		<td>{{person.Age}}</td>
		  		<td>{{person.Sex}}</td>
		  		<td>{{person.IsActive}}</td>
		  		<td><a ng-click="DeletePerson(person.Id)" class="btn btn-danger btn-circle"> <i class='fa fa-times'></i></a></td>
		  		<td><a ng-click="EditPerson(person)" class="btn btn-info btn-circle"> <i class='fa fa-edit'></i></a></td>
		  	</tr>
		  </tbody>
		</table>
	</div>
</div>